@import 'node_modules/normalize-scss/sass/normalize';

body {
  background-color: #c3adf6;
  padding: 30px;
  font-family: var(--font-nunito);
  font-size: 20px;
  margin-right: 40px;
}

button {
  cursor: pointer;
}
